mkdocs
pymdown-extensions
python-markdown-math @ https://github.com/mitya57/python-markdown-math/archive/master.zip
mkdocs-material
mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin
lxml